* {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;

}

.logo {
  width: 30vw;
  margin: 2vw 0 2vw 0;
  max-width: 120px;
  border-radius: 50%;
  box-shadow: 10px 8px 10px pink;
  margin-top: 0;
}

.carousel{
	justify-content: center;
	min-height: 40vh;

}

.slide img {;
  border-radius: 10px;
  object-fit: scale-down;
  height: 40vh;
  width: 100%;

}

.mainContainer{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.botones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}

.botones img{
	width: 95vw;
	max-width: 45px;

}

body{
	width: 100vw;
	background: linear-gradient(to right, #fef4ff, #ffe4ec);
}

.btn{
	background-color:transparent;
	margin-top: 2vw;
	margin-left: 4vw;
	margin-right: 4vw;
}

.text{


}